.header {
    padding: 10px;
    color:#999900;
    background-color: black;
}

.header h1 {
    display: inline-block;
    font-size: 55px;
    font-style: italic;
}

.header div {
    padding-top: 05px;
    margin-right: 30px;
    float: right;
    font-size: 25px;
}

.header div ul {
    list-style-type: horiz;
}

.header div ul li {
    display: inline-block;
    font-style: italic;
}

.hero {
    height: 100px;
    width: 20%;
    background-image: url("../assets/photos/selfie.jpg");
    background-position: center;
}

section {
    width: 90%;
    height: 500px;
    margin: 0px auto;
    border-bottom: 5px; color: #999900;
    background-color: black;
}

.box-style {
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

section div ul li {
    text-align: center;
}

section p {
    text-align: center;
}

